    <!-- About Section -->
    <section id="about" class="container content-section text-center lead">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>

              <h2>About CWS</h2>

              <br/>
                <p>CWS - Cryptographic Web Store - gives you an <strong>easy</strong> way to store <strong>any data safely encrypted</strong>.</p>
                <p>Data is <strong>always stored encrypted</strong> with <strong>as little metadata as possible</strong>.</p>
                <p>Support for &quot;<strong>Circles of Trust</strong>&quot; allows sharing encrypted data within a select group.</p>
              <br/>

                <ul class="list-inline intro-social-buttons">
                    {% for social in site.social %}
                    <li>
                        <a href="{{ social.url }}"
                           class="btn btn-default btn-lg"><i
                                class="fa fa-{{ social.title }} fa-fw"></i>
                            <span class="network-name">{{ social.title }}</span></a>
                    </li>
                    {% endfor %}
                    <li>
                        <a href="#download"
                           class="btn btn-default btn-lg"><i
                                class="fa fa-download fa-fw"></i>
                            Download</a>
                    </li>
                </ul>

                <h2>
                  <a href="https://travis-ci.org/JavaDogs/cws" rel="nofollow"><img src="https://api.travis-ci.org/JavaDogs/cws.svg" alt="TravisCI" style="max-width:100%;"></a>
                  <a href="https://circleci.com/gh/JavaDogs/cws" rel="nofollow"><img src="https://circleci.com/gh/JavaDogs/cws.png?style=shield" alt="CircleCI" style="max-width:100%;"></a>
                  <a href="https://scan.coverity.com/projects/javadogs-cws" rel="nofollow"><img src="https://scan.coverity.com/projects/13955/badge.svg" alt="Coverity" style="max-width:100%;"></a>
                  <a href="https://sonarcloud.io/dashboard?id=io.javadog:cws" rel="nofollow"><img src="https://sonarcloud.io/api/project_badges/measure?project=io.javadog:cws&metric=alert_status" alt="SonarCloud" style="max-width:100%;"></a>
                  <a href="https://www.codacy.com/app/cws/cws" rel="nofollow"><img src="https://api.codacy.com/project/badge/Grade/78366d7059554164a3f65ceabe986598" alt="Codacy" style="max-width:100%;"></a>
                  <a href="http://www.apache.org/licenses/LICENSE-2.0" rel="nofollow"><img src="https://img.shields.io/badge/license-Apache+License+2.0-blue.svg" alt="Software License" style="max-width:100%;"></a>
                </h2>

              </div>
        </div>
    </section>
