<!-- Documentation Section -->
<section id="docs" class="module content-section-a">
    <div class="">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <h2>Documentation</h2>

                    <div class="alert alert-warning">Warning: There is no automated database upgrade step yet, so use this only in testing for now.</div>

                    <p>For installation instructions, see the <a href="https://github.com/javadogs/cws">Readme file provided along the cws sources on github.</a></p>

                    <p>For developers, there is a full <a target="_blank" href="{{site.baseurl}}apidocs/index.html" >documentation of the API</a> available.</p>

                    <br><br>
                    <h3>Who is this for</h3>

                    <p>CWS was created initially, as a way to add an extra
                    security layer into existing web-based applications. It uses
                    JCE, Java Cryptography Extension, for all cryptographic
                    operations, meaning that it will work independently of what
                    is offered by Hosting or Cloud Providers.</p>

                    <p>If you are using a Hosting or Cloud Provider for your
                    Web-based Application, CWS may improve your security. Even
                    if you aren't using a Hosting or Cloud Provider, CWS may
                    still improve the data stored, by adding an additional
                    encryption layer. This way, if your server is compromised
                    your data may still be secure.</p>

                    <h3>Disclaimer</h3>

                    <p>The old paper <a href="https://www.ece.cmu.edu/~ganger/712.fall02/papers/p761-thompson.pdf">Reflections
                    on trusting trust</a> shows that perfect security is an
                    illusion. For any system running, there is simply too many
                    aspects to consider. From flaws in servers, missing security
                    patches, undisclosed bugs - or flaws and bugs in your own
                    Application.</p>

                    <p>Generally, there are 3 areas where the security will come
                    up short:</p>

                    <ul>
                        <li><b>Hosting or Cloud Provider</b><br/>
                        <i>If the Provider is not taking their customers data
                        security seriously, either by not patching their
                        software or protecting their services using firewalls.
                        Then, CWS cannot give you a guarentee that your data is
                        secure. As CWS requires that the underlying software to
                        run Java &amp; Java EE must be properly updated.</i>
                        </li>
                        <li><b>Network Communication</b><br/>
                        <i>Today, SSL should be standard for <b>all</b>
                        Web-based communication, regardless if it is dynamic or
                        static web-sited or it is internal communication between
                        service layers. If just one part of the entire system
                        has been compromised, all parts may be compromised by
                        insecure communications. SSL should therefore be applied
                        in all layers, and the setup should be made as secure as
                        possible by limitting or removing protocols and increase
                        key strength. See <a href="https://www.ssllabs.com/ssltest/">SSL Labs</a>
                        for testing and hints - to start, you can use <a href="https://letsencrypt.org/">Let's Encrypt</a>
                        to get free SSL Certificates.</i>
                        </li>
                        <li><b>Data Processing</b><br/>
                        <i>When handling a request, CWS requires that the Data
                        and Keys are available in the memory and CPU of the
                        server - although the time of most requests can be
                        measured in milliseconds, it may be possible for someone
                        skilled enough to extract the information using memory
                        dumps.</i>
                        </li>
                    </ul>

                    <p>Of the above mentioned shortcomings, the first two will
                    be the easiest to compromise, and also the easiest to add
                    processes to prevent. Meaning, that the last one may both
                    sound and appear as the worst. However, if this is something
                    that is of concern, you may reconsider using a Provider for
                    your Application, as nothing will be able to give you the
                    level of trust you requires except hosting the servers
                    yourself. And even if you host the servers yourself, CWS may
                    still give you an additional security layer as your stored
                    data is encrypted so even if someone compromises your
                    system, the data and keys should still be secure, as it is
                    stored encrypted - hence the name <i>Crypto Store</i>.</p>

                    <h3>Release Plan</h3>

                    <ul>
                        <li>
                            <b>1.0.0</b> - <i>2018</i><br/>
                            <i>Once the two Build Servers, Travis-CI &amp;
                            Circle-CI have upgraded their build images to use
                            the latest Java 8, which include unlimited strength
                            encryption, the default settings will be upgraded to
                            reflect this. Besides these, there will be no other
                            significant changes between 0.9.9 and 1.0.0.</i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
