<!-- Security Section -->
<section id="security" class="">
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Security</h2>
                    <br/>

                    <p>Security is one of the most important aspects of CWS, and
                    although extensive effors has been made to remove all
                    problems, secrity issues may still sneak in. If you have
                    discovered a security issue, please send an e-mail to the
                    the core developers. JavaDog.io uses ProtonMail for all
                    e-mail communication, and their support for PGP is limited,
                    so please use this
                    <a href="https://javadog.io/downloads/publickey.asc">key</a>
                    to send us an e-mail at <b>cws at javadog.io</b>, with an
                    OpenPGP encrypted message inline, with as many details as
                    possible.</p>
                </div>
            </div>
        </div>
    </div>
</section>
